<div layout="row" layout-align="center center">
  <form name="userForm">
    <md-input-container>
      <label>First name</label>
      <input required name="first_name" ng-model="customer.first_name" minus-validator>
    </md-input-container>
    <md-input-container>
      <label>Last name</label>
      <input required name="last_name" ng-model="customer.last_name" minus-validator>
    </md-input-container>
    <md-input-container>
      <label>City</label>
      <input required name="city" ng-model="customer.city" minus-validator>
    </md-input-container>
    <span flex></span>


    <md-button ng-click="clear()">
      Clear
    </md-button>
    <md-button class="md-accent md-raised md-primary" ng-click="save()" ng-disabled="userForm.$invalid" style="margin-right:20px;">
      Save
    </md-button>
  </form>
</div></div>