<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ user.first_name + ' ' + user.last_name }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-content class="md-padding" layout-xs="column" layout="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders" ng-init="$parent.total = $parent.total + (order.quantity * order.price)">
                        <td>{{ order.product }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price | currency }}</td>
                        <td>{{ order.quantity * order.price | currency }}</td>
                        <td>
                            <md-menu>
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <ng-md-icon icon="settings"></ng-md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item><md-button ng-click="edit(order)">Edit</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="order.remove()">Remove</md-button></md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td><strong>{{ total | currency }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </md-content>
    </md-card-content>
</md-card>
<order-form ng-if="showForm" user="user" order="order"></order-form>